html, body {

    margin: 0px;
    background: red;

}

.wrapper:after {

    content: "";
    display: table;
    clear: both;

}

.wrapper {

    margin: 0 auto;
    max-width: 600px;

}

.left {

    float: left;

}

.right {

    float: right;

}

.center {

    margin: 0 auto;
    display: block;

}

.sec50 {

    width: 50%;
    height: 100%;
    position: relative;
    box-sizing: border-box;

    padding: 0 16px;

}

@media only screen 
  and (max-width: 480px) {

    .left {

        float: none;

    }

    .right {

        float: none;

    }

    .sec50 {

        width: 100%;
        padding: 0 25px;

    }

}

.hero {

    background: #FDD835;
    padding: 0px 16px 25px 16px;

}

.hero .wrapper {

    max-width: 512px;

}

.logo {

    width: 100%;
    max-width: 400px;
    display: block;
    
    margin: 0 auto;

}

.hero h1 {

    display: block;
    margin: 0 auto;
    text-align: center;

    font-size: 34px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;

    margin-bottom: 25px;

}

.hero p {

    text-align: center;
    margin: 0 55px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 25px;

}

.googlePlayBanner {

    display: block;
    margin: 0 auto;
    width: 50%;

}

section .wrapper {

    padding: 0 16px;

}

.screen-wrapper {

    padding: 25px;

}

.screen {

    width: 75%;
    max-width: 250px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

    display: block;
    margin: 0 auto;

}

.showcase {

    padding: 12px 0;

}

.showcase h4 {

    color: #9E9E9E;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;

    margin-bottom: 5px;

}

.showcase h2 {

    font-weight: 400;
    font-family: "Roboto", sans-serif;
    margin-top: 5px;

}

.showcase p {

    font-family: "Roboto", sans-serif;

}

.download h1 {

    margin: 0px;
    text-align: center;

    padding: 50px;
    padding-top: 75px;

    color: #212121;
    font-weight: 400;
    font-family: "Roboto", sans-serif;

}

.download .googlePlayBanner {

    width: 20%;
    min-width: 256px;
    padding-bottom: 50px;

}

footer {

    background: #FDD835;
    padding: 25px;

}

footer p {

    margin: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;

    color: #424242;

}